# Dependencies
node_modules/

# Bun
.bun/

# Build / Output
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
